[submodule "vim/pathogen"]
	path = vim/pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = http://github.com/vim-scripts/The-NERD-tree.git
[submodule "vim/vim/bundle/perl-support"]
	path = vim/vim/bundle/perl-support
	url = git@github.com:myme/perl-support.vim.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git@github.com:myme/oh-my-zsh.git
[submodule "vim/vim/bundle/taglist"]
	path = vim/vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/vim/bundle/javacomplete"]
	path = vim/vim/bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule "vim/vim/bundle/project"]
	path = vim/vim/bundle/project
	url = https://github.com/vim-scripts/project.tar.gz.git
[submodule "vim/vim/bundle/cscope_macros"]
	path = vim/vim/bundle/cscope_macros
	url = git://github.com/vim-scripts/cscope_macros.vim.git
[submodule "vim/vim/bundle/gitv"]
	path = vim/vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "vim/vim/bundle/vimtodo"]
	path = vim/vim/bundle/vimtodo
	url = https://github.com/mivok/vimtodo.git
[submodule "vim/vim/bundle/zencoding"]
	path = vim/vim/bundle/zencoding
	url = http://github.com/mattn/zencoding-vim/
